{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <p>{{ page_text }}</p>
        <p>Select option</p>
        <p><a href="{{ create_message }}">Send message describing circuit board</a></p>
        <p><a href="{{ view_message }}">View messages</a></p>
        <br />
    </div>
{% endblock %}